certifi==2026.7.22
charset-normalizer==3.5.2
colorama==0.4.6
flatbuffers==25.12.19
idna==3.20
ml_dtypes==0.6.0
ncnn==1.0.20260526
numpy==2.5.3
onnx==1.23.1
onnxruntime==1.30.0
opencv-python==5.0.0.93
packaging==26.3
portalocker==4.4.0
protobuf==7.36.2
requests==2.34.2
tqdm==4.70.1
typing_extensions==4.16.0
urllib3==2.8.0
